@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  background-color: #21252A;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.custom-checkbox{ 
  opacity: 1;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  z-index: 5;
}
.checked-check img{
  height: 22px !important;
  width: 22px !important;
  object-fit: cover; 
  margin-top: -2px;
}
.checked-check{
  height: 16px;
  width: 16px;
  border-radius: 2px;
  overflow: hidden;
}
.custom-checkbox:checked{ opacity: 0;}
.custom-checkbox ~ .checked-check{display: none;}
.custom-checkbox:checked ~ .checked-check{display: inline-block !important;}
.btn-primary, .btn-primary-outline:hover{
  background: linear-gradient(90deg, #1B75C1 0%, #04C1F6 100%);
  color: #ffffff;
}
.btn-primary:hover{
  background: linear-gradient(90deg, #1a7dce 0%, #20cdfd 100%);
}
.footer {
  transition: transform 0.3s ease; /* Smooth transition */
  transform: translateY(100%);
}
.foot-main:hover  .footer {
  transform: translateY(0%);
}